$colors: (
    body: (
        color: #585b6f,
    ),
    heading: (
        color: #0A165E,
    ),
    theme: (
        primary: #0143EB,
        secondary: #0A165E,
    ),
    color: (
        blue-light: #22318c,
        blue-light-2: #3a71ff,
        blue-light-3: #0143eb,
        blue-light-4: #26327B,
        yellow-light: #FFBA25,
        white-default: #ffffff,
        gray-1: #eef1ff,
        gray-2: #f5f6f7,
        gray-3: #F3F4FB,
        gray-4: #E5EAFF,
        gray-5: #bec2d4,
        gray-6: #AFB3C8,
        gray-7: #E7E9F6,
        gray-8: #7E86B1,
        dark: #121212,
        dark-2: #000522,
        dark-3: #020931,
    ),
    border: (
        1: #666D94,
        2: #e0e2ea,
        3: #DEDEDE,
        4: #dee1e3,
        5: #D0D0E5,
        6: #BDBDBD,
        7: #B1C4F6,
        8: #e0e1e9,
    )
);
