@forward 'components/theme';
@forward 'components/buttons';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/modal';
@forward 'components/scroll-top';
@forward 'components/section-title';
@forward 'components/mobile-menu';
@forward 'components/animation';
@forward 'components/search';
@forward 'layout/header';
@forward 'layout/slider';
@forward 'layout/banner';
@forward 'layout/brand';
@forward 'layout/about';
@forward 'layout/counter';
@forward 'layout/services';
@forward 'layout/choose';
@forward 'layout/team';
@forward 'layout/project';
@forward 'layout/marquee';
@forward 'layout/testimonial';
@forward 'layout/gallery';
@forward 'layout/cta';
@forward 'layout/pricing';
@forward 'layout/video';
@forward 'layout/blog';
@forward 'layout/work';
@forward 'layout/career';
@forward 'layout/job';
@forward 'layout/shop';
@forward 'layout/checkout';
@forward 'layout/contact';
@forward 'layout/login';
@forward 'layout/footer';

