@use '../utils' as *;

/*=============================
	  OffCanvas
===============================*/
.offCanvas-toggle {
    position: relative;
    margin-right: 40px;
    padding-right: 40px;
    @media #{$md} {
        margin-right: 25px;
        padding-right: 25px;
    }
    @media #{$xs} {
        display: none;
    }
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 60px;
        background: var(--tg-border-1);
    }
    & .menu-tigger {
        color: var(--tg-heading-color);
        &:hover {
            color: var(--tg-theme-primary);
        }
    }
}

.offCanvas {
    &__info {
        background: var(--tg-color-white-default) none repeat scroll 0 0;
        height: 100%;
        padding: 90px 70px;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        width: 425px;
        z-index: 999;
        overflow-y: scroll;
        @include transform(translateX(100%));
        @include flexbox();
        flex-direction: column;
        justify-content: space-between;
        &.active {
            @include transform(translateX(0));
        }
        &::-webkit-scrollbar {
            width: 0px;
        }
        &-list {
            &-item {
                @include flexbox();
                align-items: center;
                gap: 12px;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                & .icon {
                    width: 50px;
                    height: 50px;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    background: var(--tg-color-gray-1);
                    flex: 0 0 auto;
                    @include border-radius(12.5px);
                    color: var(--tg-theme-primary);
                }
                & p {
                    margin-bottom: 0;
                    font-weight: 500;
                    text-transform: capitalize;
                    line-height: 1.5;
                }
                & a {
                    color: var(--tg-body-color);
                    font-weight: 500;
                    &:hover {
                        text-decoration: underline;
                        color: var(--tg-theme-primary);
                    }
                }
            }
        }
    }
    &__close-icon {
        margin-top: -16px;
        text-align: right;
        & button {
            border: 0 none;
            color: var(--tg-color-white-default);
            cursor: pointer;
            font-size: 20px;
            padding: 0;
            width: 50px;
            height: 50px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            margin-left: auto;
            background: var(--tg-theme-secondary);
            @include border-radius(50%);
            position: absolute;
            right: 50px;
            top: 50px;
            &:hover {
                background: var(--tg-theme-primary);
                color: var(--tg-color-white-default);
                transform: rotate(180deg);
            }
        }
    }
    &__logo {
        & img {
            max-height: 34px;
        }
    }
    &__content {
        margin-bottom: 40px;
        & p {
            margin-bottom: 0;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    &__title {
        margin-bottom: 25px;
        font-size: 22px;
    }
    &__social-wrap {
        margin-top: auto;
        & .list-wrap {
            @include flexbox();
            align-items: center;
            gap: 10px;
            & li {
                & a {
                    width: 50px;
                    height: 50px;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    background: var(--tg-color-gray-1);
                    @include border-radius(12.5px);
                    &:hover {
                        background: var(--tg-theme-primary);
                        color: var(--tg-color-white-default);
                    }
                }
            }
        }
    }
    &__overly {
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
        &.active {
            opacity: .7;
            visibility: visible;
        }
    }
}
