@use '../utils' as *;

/*=============================
    	03. Banner
===============================*/
.banner {
    &__bg {
        background-size: cover;
        background-position: bottom;
        padding: 155px 0 165px;
        position: relative;
        z-index: 1;
        @media #{$xl} {
            padding: 125px 0 40px;
        }
        @media #{$lg} {
            padding: 105px 0 40px;
        }
    }
    &__content {
        margin-top: -60px;
        @media #{$md} {
            margin-top: 0;
            text-align: center;
            margin-bottom: 50px;
        }
        & .sub-title {
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
            color: var(--tg-theme-primary);
            position: relative;
            z-index: 1;
            line-height: 1;
            margin-bottom: 15px;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                width: 50px;
                height: 8px;
                background: #CEDCFF;
                z-index: -1;
            }
        }
        & .title {
            font-size: 60px;
            margin-bottom: 12px;
            line-height: 1.1;
            @media #{$lg} {
                font-size: 50px;
            }
            @media #{$xs} {
                font-size: 40px;
            }
            @media #{$sm} {
                font-size: 45px;
            }
            & br {
                @media #{$md} {
                    display: none;
                }
            }
        }
        & p {
            margin-bottom: 30px;
            font-weight: 500;
            width: 75%;
            @media #{$lg} {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
    &__img {
        position: relative;
        text-align: center;
        z-index: 1;
        padding-top: 55px;
        @media #{$xl} {
            padding-top: 45px;
        }
        & .main-img {
            @media #{$lg} {
                width: 75%;
            }
        }
        & .shape {
            position: absolute;
            left: 27px;
            z-index: -1;
            top: 0;
            @media #{$lg} {
                left: 0;
            }
        }
    }
}

.overlay__text-two {
    margin-bottom: 0;
    text-align: center;
    font-weight: 800;
    font-size: 200px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.26) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute !important;
    bottom: 55px !important;
    top: auto !important;
    left: 0;
    right: 0;
    line-height: .8;
    z-index: -1;
    white-space: nowrap;
    @media #{$xl} {
        font-size: 160px;
    }
    @media #{$lg} {
        font-size: 130px;
    }
    @media #{$md} {
        font-size: 100px;
    }
    @media #{$xs} {
        font-size: 60px;
        line-height: 1;
    }
    @media #{$sm} {
        font-size: 80px;
    }
}