@use '../utils' as *;

/*=============================
    	17. CTA
===============================*/
.cta {
    &__area {
        margin-top: 50px;
        &-two {
            background: var(--tg-theme-primary);
            position: relative;
            z-index: 1;
            padding: 120px 0 100px;
            @media #{$lg} {
                padding: 80px 0 80px;
            }
            @media #{$xs} {
                padding: 60px 0 60px;
            }
        }
    }
    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        @media #{$md} {
            display: none;
        }
    }
    &__inner-wrap {
        background: var(--tg-theme-primary);
        @include border-radius(20px);
        padding: 65px 75px 70px;
        @media #{$lg} {
            padding: 50px 20px 50px;
        }
        @media #{$md} {
            padding: 50px 30px 50px;
        }
        @media #{$xs} {
            padding: 35px 30px 35px;
        }
    }
    &__contact {
        @include flexbox();
        align-items: center;
        gap: 15px;
        @media #{$md} {
            justify-content: center;
            margin-bottom: 30px;
        }
        & .icon {
            color: var(--tg-color-white-default);
        }
        & .content {
            & span {
                display: block;
                font-weight: 600;
                font-size: 18px;
                text-transform: capitalize;
                color: var(--tg-color-white-default);
                line-height: 1;
                margin-bottom: 10px;
            }
            & a {
                color: var(--tg-color-white-default);
                font-weight: 800;
                font-size: 30px;
                line-height: 1;
                @media #{$lg} {
                    font-size: 25px;
                }
            }
        }
        &-two {
            @media #{$md} {
                justify-content: flex-start;
                margin-bottom: 0;
            }
        }
    }
    &__content {
        &-right {
            @include flexbox();
            align-items: center;
            gap: 20px 30px;
            justify-content: space-between;
            @media #{$xs} {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
            & .title {
                flex-grow: 1;
                color: var(--tg-color-white-default);
                margin-bottom: 0;
                font-size: 30px;
                width: 90%;
                line-height: 1.3;
                @media #{$lg} {
                    width: 100%;
                    font-size: 25px;
                }
            }
            & .tg-btn {
                width: 197px;
                flex: 0 0 auto;
                &:hover {
                    background: var(--tg-theme-secondary);
                }
            }
        }
        &-four {
            @media #{$md} {
                text-align: center;
            }
            & p {
                margin-bottom: 50px;
                font-weight: 500;
                color: var(--tg-color-white-default);
                text-transform: capitalize;
                @media #{$lg} {
                    margin-bottom: 25px;
                }
            }
        }
        &-bottom {
            @include flexbox();
            align-items: center;
            gap: 20px 30px;
            flex-wrap: wrap;
            @media #{$md} {
                justify-content: center;
            }
            & .tg-btn {
                width: 240px;
                flex: 0 0 auto;
                justify-content: center;
                @include border-radius(8px);
                &:hover {
                    background: var(--tg-theme-secondary);
                }
            }
            & .cta__contact {
                @media #{$md} {
                    margin-bottom: 0;
                    text-align: left;
                }
                & .icon {
                    & svg {
                        width: 45px;
                        height: auto;
                    }
                }
            }
            & .cta__contact .content {
                & span {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                & a {
                    font-size: 24px;
                }
            }
        }
    }
}

