@use '../utils' as *;

/*=============================
    	16. Gallery
===============================*/
.gallery {
    &__area {
        padding-bottom: 90px;
        @media #{$xs} {
            padding-bottom: 40px;
        }
    }
    &__item {
        margin-bottom: 50px;
        height: 360px;
        overflow: hidden;
        @media #{$xl} {
            margin-bottom: 30px;
        }
        @media #{$lg} {
            margin-bottom: 20px;
            height: 300px;
        }
        &-two {
            height: 470px;
            @media #{$lg} {
                height: 400px;
            }
            @media #{$xs} {
                height: 300px;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(.4s);
        }
        &:hover {
            & img {
                transform: scale(1.05);
            }
        }
    }
}


