@use '../utils' as *;

/*=============================
    	03. Slider
===============================*/
.slider {
    &__area {
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    &__bg {
        background: var(--tg-theme-secondary);
        padding: 270px 0 180px;
        position: relative;
        z-index: 1;
        min-height: 825px;
        @include flexbox();
        align-items: center;
        @media #{$xl} {
            padding: 220px 0 130px;
            min-height: 700px;
        }
        @media #{$lg} {
            padding: 200px 0 115px;
            min-height: 650px;
        }
        @media #{$md} {
            padding: 150px 0 100px;
            min-height: 600px;
        }
        @media #{$xs} {
            padding: 120px 0 80px;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 51%;
            height: auto;
            background: var(--tg-theme-primary);
            z-index: -2;
            clip-path: ellipse(100% 85% at 103% 50%);
            @media #{$md} {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 52%;
            height: auto;
            background: #0036BE;
            z-index: -2;
            clip-path: ellipse(100% 91% at 104% 52%);
            @media #{$md} {
                display: none;
            }
        }
        &-img {
            position: absolute;
            width: 50%;
            height: auto;
            z-index: -1;
            clip-path: ellipse(100% 87% at 103% 46%);
            right: 0;
            top: 0;
            bottom: 0;
            @media #{$md} {
                display: none;
            }
        }
        &-two {
            clip-path: polygon(100% 95.152%, 100% 95.152%, 99.97% 95.938%, 99.883% 96.684%, 99.743% 97.38%, 99.556% 98.015%, 99.327% 98.58%, 99.059% 99.065%, 98.758% 99.459%, 98.428% 99.753%, 98.074% 99.937%, 97.701% 100%, 70.228% 100%, 70.228% 100%, 69.94% 99.962%, 69.66% 99.85%, 69.392% 99.668%, 69.138% 99.42%, 68.901% 99.111%, 68.684% 98.743%, 68.488% 98.321%, 68.317% 97.848%, 68.174% 97.33%, 68.061% 96.768%, 67.397% 92.807%, 67.397% 92.807%, 67.283% 92.246%, 67.14% 91.727%, 66.969% 91.255%, 66.774% 90.833%, 66.556% 90.465%, 66.319% 90.155%, 66.066% 89.908%, 65.798% 89.726%, 65.518% 89.614%, 65.229% 89.576%, 2.299% 89.576%, 2.299% 89.576%, 1.926% 89.512%, 1.572% 89.329%, 1.242% 89.035%, 0.941% 88.64%, 0.673% 88.156%, 0.444% 87.591%, 0.257% 86.955%, 0.117% 86.26%, 0.03% 85.514%, 0% 84.727%, 0% 4.848%, 0% 4.848%, 0.03% 4.062%, 0.117% 3.316%, 0.257% 2.62%, 0.444% 1.985%, 0.673% 1.42%, 0.941% 0.935%, 1.242% 0.541%, 1.572% 0.247%, 1.926% 0.063%, 2.299% 0%, 97.701% 0%, 97.701% 0%, 98.074% 0.063%, 98.428% 0.247%, 98.758% 0.541%, 99.059% 0.935%, 99.327% 1.42%, 99.556% 1.985%, 99.743% 2.62%, 99.883% 3.316%, 99.97% 4.062%, 100% 4.848%, 100% 95.152%);
            background-size: cover;
            background-position: center;
            min-height: 825px;
            @include flexbox();
            align-items: center;
            position: relative;
            z-index: 1;
            padding: 120px 0;
            @media #{$xl} {
                min-height: 680px;
            }
            @media #{$lg} {
                min-height: 620px;
                clip-path: polygon(100% 88.566%, 100% 88.566%, 100% 88.568%, 100% 88.569%, 99.999% 88.57%, 99.999% 88.572%, 99.998% 88.573%, 99.997% 88.574%, 99.997% 88.575%, 99.996% 88.575%, 99.995% 88.576%, 99.994% 88.576%, 99.994% 88.576%, 99.994% 88.576%, 99.993% 88.576%, 99.992% 88.576%, 99.991% 88.577%, 99.99% 88.578%, 99.989% 88.578%, 99.988% 88.58%, 99.988% 88.581%, 99.987% 88.582%, 99.987% 88.584%, 99.987% 88.585%, 99.987% 95.161%, 99.987% 95.161%, 99.945% 95.946%, 99.823% 96.691%, 99.627% 97.385%, 99.365% 98.019%, 99.042% 98.583%, 98.666% 99.066%, 98.244% 99.46%, 97.781% 99.753%, 97.285% 99.937%, 96.761% 100%, 76.108% 100%, 76.108% 100%, 75.655% 99.953%, 75.22% 99.814%, 74.808% 99.59%, 74.422% 99.287%, 74.069% 98.911%, 73.752% 98.467%, 73.476% 97.961%, 73.247% 97.4%, 73.07% 96.789%, 72.948% 96.134%, 72.442% 92.442%, 72.442% 92.442%, 72.321% 91.787%, 72.143% 91.175%, 71.914% 90.614%, 71.638% 90.109%, 71.321% 89.665%, 70.968% 89.288%, 70.582% 88.985%, 70.17% 88.762%, 69.735% 88.623%, 69.283% 88.576%, 3.226% 88.576%, 3.226% 88.576%, 2.703% 88.512%, 2.206% 88.329%, 1.743% 88.036%, 1.321% 87.642%, 0.945% 87.158%, 0.622% 86.595%, 0.36% 85.961%, 0.164% 85.266%, 0.042% 84.522%, 0% 83.737%, 0% 4.839%, 0% 4.839%, 0.042% 4.054%, 0.164% 3.309%, 0.36% 2.615%, 0.622% 1.981%, 0.945% 1.417%, 1.321% 0.934%, 1.743% 0.54%, 2.206% 0.247%, 2.703% 0.063%, 3.226% 0%, 96.774% 0%, 96.774% 0%, 97.297% 0.063%, 97.794% 0.247%, 98.257% 0.54%, 98.679% 0.934%, 99.055% 1.417%, 99.378% 1.981%, 99.64% 2.615%, 99.836% 3.309%, 99.958% 4.054%, 100% 4.839%, 100% 88.566%);
            }
            @media #{$md} {
                clip-path: polygon(100% 88.568%, 100% 88.568%, 100% 88.57%, 100% 88.571%, 99.999% 88.572%, 99.999% 88.573%, 99.998% 88.574%, 99.997% 88.574%, 99.996% 88.575%, 99.996% 88.575%, 99.995% 88.576%, 99.993% 88.576%, 99.993% 88.576%, 99.993% 88.576%, 99.992% 88.576%, 99.991% 88.576%, 99.99% 88.576%, 99.99% 88.577%, 99.989% 88.578%, 99.988% 88.579%, 99.988% 88.58%, 99.987% 88.581%, 99.987% 88.582%, 99.987% 88.583%, 99.987% 95.161%, 99.987% 95.161%, 99.93% 95.946%, 99.765% 96.691%, 99.502% 97.385%, 99.148% 98.019%, 98.714% 98.583%, 98.207% 99.066%, 97.637% 99.46%, 97.013% 99.753%, 96.344% 99.937%, 95.639% 100%, 77.212% 100%, 77.212% 100%, 76.579% 99.949%, 75.971% 99.799%, 75.398% 99.559%, 74.864% 99.234%, 74.379% 98.831%, 73.948% 98.358%, 73.579% 97.82%, 73.279% 97.225%, 73.055% 96.579%, 72.914% 95.89%, 72.476% 92.686%, 72.476% 92.686%, 72.335% 91.996%, 72.111% 91.351%, 71.811% 90.756%, 71.442% 90.218%, 71.011% 89.744%, 70.526% 89.342%, 69.992% 89.017%, 69.419% 88.776%, 68.811% 88.627%, 68.178% 88.576%, 4.348% 88.576%, 4.348% 88.576%, 3.643% 88.512%, 2.974% 88.329%, 2.35% 88.036%, 1.78% 87.642%, 1.273% 87.158%, 0.839% 86.595%, 0.485% 85.961%, 0.222% 85.266%, 0.057% 84.522%, 0% 83.737%, 0% 4.839%, 0% 4.839%, 0.057% 4.054%, 0.222% 3.309%, 0.485% 2.615%, 0.839% 1.981%, 1.273% 1.417%, 1.78% 0.934%, 2.35% 0.54%, 2.974% 0.247%, 3.643% 0.063%, 4.348% 0%, 95.652% 0%, 95.652% 0%, 96.357% 0.063%, 97.026% 0.247%, 97.65% 0.54%, 98.22% 0.934%, 98.727% 1.417%, 99.161% 1.981%, 99.515% 2.615%, 99.778% 3.309%, 99.943% 4.054%, 100% 4.839%, 100% 88.568%);
                min-height: 600px;
                padding: 100px 0;
            }
            @media #{$xs} {
                padding: 80px 0;
                min-height: 650px;
                clip-path: polygon(100% 88.572%, 100% 88.572%, 100% 88.572%, 100% 88.573%, 99.999% 88.574%, 99.999% 88.574%, 99.998% 88.575%, 99.997% 88.575%, 99.997% 88.575%, 99.996% 88.575%, 99.995% 88.576%, 99.994% 88.576%, 99.994% 88.576%, 99.994% 88.576%, 99.993% 88.576%, 99.992% 88.576%, 99.991% 88.576%, 99.99% 88.576%, 99.989% 88.577%, 99.988% 88.577%, 99.988% 88.578%, 99.987% 88.578%, 99.987% 88.579%, 99.987% 88.58%, 99.987% 96.923%, 99.987% 96.923%, 99.92% 97.422%, 99.725% 97.896%, 99.415% 98.337%, 98.997% 98.74%, 98.485% 99.099%, 97.887% 99.406%, 97.215% 99.657%, 96.48% 99.843%, 95.691% 99.96%, 94.859% 100%, 82.027% 100%, 82.027% 100%, 81.235% 99.963%, 80.479% 99.857%, 79.771% 99.687%, 79.118% 99.457%, 78.531% 99.174%, 78.018% 98.842%, 77.591% 98.468%, 77.258% 98.055%, 77.028% 97.611%, 76.912% 97.139%, 76.244% 91.437%, 76.244% 91.437%, 76.128% 90.965%, 75.898% 90.52%, 75.565% 90.108%, 75.137% 89.734%, 74.625% 89.402%, 74.038% 89.119%, 73.385% 88.889%, 72.676% 88.719%, 71.921% 88.612%, 71.128% 88.576%, 5.128% 88.576%, 5.128% 88.576%, 4.296% 88.535%, 3.507% 88.419%, 2.772% 88.232%, 2.1% 87.982%, 1.502% 87.675%, 0.989% 87.316%, 0.572% 86.913%, 0.261% 86.471%, 0.067% 85.998%, 0% 85.499%, 0% 3.077%, 0% 3.077%, 0.067% 2.578%, 0.261% 2.104%, 0.572% 1.663%, 0.989% 1.26%, 1.502% 0.901%, 2.1% 0.594%, 2.772% 0.343%, 3.507% 0.157%, 4.296% 0.04%, 5.128% 0%, 94.872% 0%, 94.872% 0%, 95.704% 0.04%, 96.493% 0.157%, 97.229% 0.343%, 97.9% 0.594%, 98.498% 0.901%, 99.011% 1.26%, 99.428% 1.663%, 99.739% 2.104%, 99.933% 2.578%, 100% 3.077%, 100% 88.572%);
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
                pointer-events: none;
                z-index: -1;
            }
        }
    }
    &__content {
        @media #{$md} {
            text-align: center;
        }
        & .sub-title {
            display: inline-block;
            position: relative;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
            color: var(--tg-color-gray-1);
            z-index: 1;
            line-height: 1.2;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                width: 50px;
                height: 8px;
                background: var(--tg-color-blue-light);
                z-index: -1;
            }
        }
        & .title {
            margin-bottom: 12px;
            color: var(--tg-color-white-default);
            font-size: 55px;
            @media #{$xl} {
                font-size: 50px;
            }
            @media #{$lg} {
                font-size: 43px;
            }
            @media #{$xs} {
                font-size: 40px;
            }
        }
        & p {
            margin-bottom: 32px;
            font-weight: 500;
            color: var(--tg-color-gray-2);
            width: 90%;
            @media #{$md} {
                width: 100%;
            }
        }
        & .tg-btn {
            &:hover {
                background: var(--tg-color-white-default);
                color: var(--tg-heading-color);
            }
            &.white-btn {
                &:hover {
                    background: var(--tg-theme-primary);
                    color: var(--tg-color-white-default);
                }
            }
        }
        &-two {
            @media #{$xl} {
                padding: 0 30px;
                margin-top: -40px;
            }
            @media #{$md} {
                text-align: center;
            }
            @media #{$xs} {
                padding: 0;
            }
            & .sub-title {
                display: inline-block;
                background: rgba(255, 255, 255, 0.15);
                color: var(--tg-color-white-default);
                border-radius: 5px;
                text-transform: capitalize;
                line-height: 1;
                padding: 6px 14px;
                margin-bottom: 18px;
                @media #{$md} {
                    margin-bottom: 12px;
                }
            }
            & .title {
                margin-bottom: 15px;
                font-size: 70px;
                color: var(--tg-color-white-default);
                line-height: 1.04;
                @media #{$xl} {
                    font-size: 60px;
                }
                @media #{$lg} {
                    font-size: 55px;
                }
                @media #{$md} {
                    font-size: 50px;
                    line-height: 1.2;
                    margin-bottom: 10px;
                }
                @media #{$xs} {
                    font-size: 40px;
                }
            }
            & p {
                margin-bottom: 42px;
                font-weight: 500;
                color: var(--tg-color-white-default);
                width: 90%;
                @media #{$xl} {
                    margin-bottom: 30px;
                }
                @media #{$lg} {
                    width: 100%;
                }
                @media #{$md} {
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__btn {
        @include flexbox();
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 12px;
        @media #{$md} {
            justify-content: center;
        }
        &-two {
            @include flexbox();
            flex-wrap: wrap;
            gap: 15px 30px;
            @media #{$md} {
                justify-content: center;
            }
        }
    }
    &-pagination {
        @include flexbox();
        align-items: center;
        position: absolute;
        width: auto !important;
        left: auto !important;
        right: 15%;
        bottom: 70px !important;
        z-index: 2;
        justify-content: flex-end;
        gap: 9px;
        @media #{$md} {
            left: 50% !important;
            right: auto;
            transform: translateX(-50%);
            bottom: 60px !important;
        }
        @media #{$xs} {
            bottom: 45px !important;
        }
        & .swiper-pagination-bullet {
            margin: 0 !important;
            width: 30px;
            height: 8px;
            border-radius: 50px;
            background: var(--tg-color-white-default);
            opacity: 0.5;
            @include transition(.3s);
            &-active {
                width: 60px;
                background: var(--tg-theme-primary);
                opacity: 1;
            }
        }
    }
    &__shape {
        & img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    &-play-btn {
        @include flexbox();
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize;
        color: var(--tg-color-white-default);
        gap: 10px;
        & .icon {
            width: 50px;
            height: 50px;
            @include flexbox();
            align-items: center;
            justify-content: center;
            background: var(--tg-color-white-default);
            color: var(--tg-theme-secondary);
            flex: 0 0 auto;
            @include border-radius(50%);
            @include transition(.3s);
        }
        &:hover {
            color: var(--tg-color-white-default);
            & .icon {
                background: var(--tg-theme-primary);
                color: var(--tg-color-white-default);
            }
        }
    }
}

.slider__active-two,
.slider__active {
    & .swiper-slide-active {
        & .slider__content-two,
        & .slider__content {
            & .sub-title {
                -webkit-animation-delay: .3s;
                animation-delay: .3s;
                -webkit-animation-duration: .8s;
                animation-duration: .8s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeInUp2;
                animation-name: fadeInUp2;
            }
            & .title {
                -webkit-animation-delay: .6s;
                animation-delay: .6s;
                -webkit-animation-duration: .8s;
                animation-duration: .8s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeInUp2;
                animation-name: fadeInUp2;
            }
            & p {
                -webkit-animation-delay: .9s;
                animation-delay: .9s;
                -webkit-animation-duration: .8s;
                animation-duration: .8s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeInUp2;
                animation-name: fadeInUp2;
            }
            & .slider__btn-two,
            & .slider__btn {
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
                -webkit-animation-duration: .8s;
                animation-duration: .8s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: fadeInUp2;
                animation-name: fadeInUp2;
            }
        }
    }
}