@use '../utils' as *;

/*=============================
    	15. Work
===============================*/
.work {
    &__area {
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: -35px;
            top: 90px;
            width: 430px;
            height: 430px;
            @include border-radius(50%);
            filter: blur(300px);
            opacity: .2;
            background: #4856F5;
            z-index: -1;
            pointer-events: none;
        }
        &::before {
            left: auto;
            top: auto;
            width: 625px;
            height: 625px;
            right: -180px;
            bottom: 0;
            background: #4899F5;
        }
    }
    &__item {
        position: relative;
        z-index: 1;
        padding: 90px 40px 82px;
        height: 100%;
        @include border-radius(27px);
        text-align: center;
        @include transition(.3s);
        @media #{$lg} {
            padding: 80px 25px 55px;
        }
        @media #{$xs} {
            padding: 70px 40px 50px;
            margin: 0 30px;
        }
        @media #{$sm} {
            margin: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            clip-path: polygon(97.69% 15.312%, 97.69% 15.312%, 98.113% 15.689%, 98.497% 16.091%, 98.839% 16.518%, 99.14% 16.966%, 99.398% 17.433%, 99.612% 17.917%, 99.78% 18.415%, 99.901% 18.925%, 99.975% 19.445%, 100% 19.971%, 100% 93.603%, 100% 93.603%, 99.904% 94.641%, 99.626% 95.625%, 99.181% 96.543%, 98.585% 97.381%, 97.852% 98.127%, 96.997% 98.766%, 96.036% 99.286%, 94.983% 99.674%, 93.855% 99.916%, 92.665% 100%, 21.027% 100%, 21.027% 100%, 20.469% 99.981%, 19.918% 99.926%, 19.375% 99.836%, 18.843% 99.71%, 18.324% 99.55%, 17.82% 99.356%, 17.334% 99.13%, 16.867% 98.872%, 16.422% 98.583%, 16.001% 98.263%, 2.309% 87.032%, 2.309% 87.032%, 1.887% 86.655%, 1.503% 86.252%, 1.161% 85.825%, 0.86% 85.377%, 0.602% 84.91%, 0.388% 84.426%, 0.22% 83.928%, 0.099% 83.418%, 0.025% 82.899%, 0% 82.372%, 0% 6.397%, 0% 6.397%, 0.096% 5.359%, 0.374% 4.375%, 0.819% 3.457%, 1.415% 2.619%, 2.148% 1.874%, 3.003% 1.234%, 3.964% 0.714%, 5.017% 0.326%, 6.145% 0.084%, 7.335% 0%, 76.116% 0%, 76.116% 0%, 76.674% 0.019%, 77.225% 0.074%, 77.768% 0.164%, 78.3% 0.29%, 78.819% 0.45%, 79.323% 0.644%, 79.809% 0.87%, 80.276% 1.128%, 80.72% 1.417%, 81.141% 1.737%, 97.69% 15.312%);
            background: var(--tg-color-white-default);
            z-index: -1;
            pointer-events: none;
        }
        & .step {
            position: absolute;
            left: 0;
            top: 36px;
            color: var(--tg-color-white-default);
            font-weight: 700;
            font-size: 14px;
            background: var(--tg-body-color);
            padding: 7px 15px 9px;
            border-radius: 0 50px 50px 0;
            @include transition(.3s);
            @media #{$lg} {
                top: 28px;
            }
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
    &__icon {
        width: 100px;
        height: 100px;
        @include flexbox();
        align-items: center;
        justify-content: center;
        margin: 0 auto 32px;
        background: var(--tg-color-gray-7);
        @include border-radius(20px);
        @media #{$lg} {
            margin: 0 auto 25px;
        }
    }
    &__content {
        & .title {
            margin-bottom: 15px;
            font-size: 24px;
            @media #{$lg} {
                margin-bottom: 12px;
                font-size: 22px;
            }
        }
        & p {
            font-weight: 500;
            text-transform: capitalize;
            width: 75%;
            margin: 0 auto;
            @media #{$lg} {
                width: 100%;
            }
        }
    }
}


